<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <title>demo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="../js/framework/jquery.min.js"></script>
        <script type="text/javascript" src="../js/app/index.js"></script>
    </head>
    <body>
        <h1>这里是首页</h1>
        <p th:text="'Hello！, ' + ${name} + '!'" ></p>
        <input id="logout-btn" type="button" value="注销" onclick="logout()">
    </body>
</html>