<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登录</title>
        <script type="text/javascript" src="../js/framework/jquery.min.js"></script>
        <script type="text/javascript" src="../js/app/login.js"></script>
        <link type="text/css" rel="stylesheet" href="../css/main.css">

    </head>
    <body>
    <img id="loginImg" src="../img/login.jpg"/>
    <div id="loginDiv">
        <form class="login-form">
            <input id="account" type="text" name="account" placeholder="账户"/>
            <input id="password" type="password" name="password" placeholder="密码"/>
            <input id="login-btn" type="button" value="登录" onclick="doLogin()">
        </form>
    </div>
    </body>
</html>
